@use '@/styles/variables' as *;

@mixin active_link {
    opacity: 1;
}

.pagination {
    margin-top: 10px;
    &__list {
        display: flex;
        &__item {
            margin-right: 10px;
            &__link {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 30px;
                padding: 0 10px;
                color: $white;
                text-decoration: none;
                background-color: $blue;
                border-radius: 4px;
                opacity: .5;
                font-size: 13px;
                font-weight: bold;
                cursor: pointer;
                &:hover {
                    @include active_link();
                }
                &_active {
                    @include active_link();
                }
            }
        }
    }
}
