@use '@/styles/variables' as *;

.bower_modules {
    position: relative;
    padding: 10px;
    &__tbl {
        margin: 10px 0 10px 0; 
    }
    &__error {
        margin-top: 10px;
        padding: 10px;
        color: $white;
        border-radius: 2px;
        font-size: 13px;
        font-weight: 600;
        background-color: lighten($red, 35%);
    }
}
